  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <h6>Szybkie Wybory</h6>
                <ul class="footer-links">
                    <li><a href="#">O Nas</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Dziennik Elektroniczny</a></li>
                    <li><a href="#">Nowości</a></li>
                    <li><a href="#">Galeria</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6">
                <h6>Szkoły Lider</h6>
                <p class="text-justify">
                    Koncepcja pracy Szkół „Lider" ma na celu rozwój młodych ludzi w duchu uniwersalnych
                    wartości, otwartych na świat i potrzeby innych, przygotowanych do dalszej edukacji i sprawnego
                    funkcjonowania na rynku pracy.
                    Chcemy edukować młodzież zgodnie z zapotrzebowaniem rynku pracy.
                    Zwracamy uwagę na zagadnienia: ekonomiczne, informatyczne, ekologiczne, kulturalne,
                    Pomagamy tym, którzy  zdecydowali się kontynuować naukę po wielu latach przerwy.
                    Stwarzamy dogodne warunki nauki dla osób pracujących.
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020</p>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">Facebook: 
                    <li><a class="facebook" href="https://www.facebook.com/cusliderlublin"><i class="fab fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


