  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <h6>Szybkie Wybory</h6>
                <ul class="footer-links">
                    <li><a href="{% url 'contact' %}">Kontakt</a></li>
                    <li><a href="https://uonetplus.vulcan.net.pl/lublin">Dziennik Elektroniczny</a></li>
                    <li><a href="{% url 'news' %}">Nowości</a></li>
                    <li><a href="{% url 'gallery' %}">Galeria</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6">
                <h6>Szkoły Lider</h6>
                <p class="text-justify">
                    Koncepcja pracy Szkół „Lider" ma na celu rozwój młodych ludzi w duchu uniwersalnych
                    wartości, otwartych na świat i potrzeby innych, przygotowanych do dalszej edukacji i sprawnego
                    funkcjonowania na rynku pracy.
                    Chcemy edukować młodzież zgodnie z zapotrzebowaniem rynku pracy.
                    Zwracamy uwagę na zagadnienia: ekonomiczne, informatyczne, ekologiczne, kulturalne,
                    Pomagamy tym, którzy  zdecydowali się kontynuować naukę po wielu latach przerwy.
                    Stwarzamy dogodne warunki nauki dla osób pracujących.
                </p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Informacje</h6>
                <ul class="footer-links">
                    <li><i class="fas fa-phone-alt"></i> tel: 81 7436194, 81 5360916</li>
                    <li><i class="far fa-envelope-open"></i> Email: sekretariat@lider24.eu</li>
                    <li><i class="fab fa-telegram-plane"></i> fax: 81 53 22 031</li>
                    <li><i class="fas fa-map-marker"></i> Adress: ul. Radziwiłowska 5</li>
                    <li>20-080 Lublin</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020</p>
            </div>
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                
                <ul class="social-icons">
                {% if user.is_authenticated %}
                <li>Wyloguj: <a href="{% url 'logout' %}"><i class="far fa-user"></i></a></li>
                {% else %}
                <li>Logowanie: <a href="{% url 'login' %}"><i class="far fa-user"></i></a></li>
                {% endif %}
                    <li>Facebook: <a class="facebook" href="https://www.facebook.com/cusliderlublin"><i class="fab fa-facebook-f"></i></a></li>
                    <li>Kontakt: <a href="{% url 'contact' %}"><i class="fas fa-feather-alt"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


