{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark shadow-sm bg-dark2 fixed-top" style="z-index:99999;">
    <div class="container"> 
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span class="ml-3 font-weight-bold">
            <img src="{% static 'images/lider.png' %}" class="logo" alt="logo_lider">
            Szkoły Lider
            </apan>
        </a> 
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav ml-auto pr-4">
                <li class="nav-item px-md-2 {% if 'nowosci' in request.get_full_path %}active{% endif %} "> <a class="nav-link" href="{% url 'news' %}">Nowości</a> </li>
                <li class="nav-item px-md-2 dropdown d-menu">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dla Uczniów
                        <svg  id="arrow" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </a>
                <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Plan Lekcji</a>
                    <a class="dropdown-item" href="#">Liceum</a>
                    <a class="dropdown-item" href="#">Technikum</a>
                    <a class="dropdown-item" href="#">Medyczna Szk. Polic.</a>
                    <a class="dropdown-item" href="#">Szkoła Policealna</a>
                    <a class="dropdown-item" href="#">LO dla dorosłych</a>
                    <a class="dropdown-item" href="#">Dziennik Elektroniczny</a>
                    <a class="dropdown-item" href="#">Kursy</a>
                    <a class="dropdown-item" href="#">Esport</a>
                    <a class="dropdown-item" href="#">Informacje dla Uczniów <br /> + Załączniki</a>
                </div>
                </li>
                <li class="nav-item px-md-2 dropdown d-menu">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dla Rodziców
                        <svg  id="arrow" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </a>
                <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="#">Informacje dla Rodziców</a>
                    <a class="dropdown-item" href="#">Załączniki</a>
                    <a class="dropdown-item" href="#">Dziennik Elektroniczny</a>
                    
                </div>
                </li>
                <li class="nav-item px-md-2 dropdown d-menu">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dla Nauczycieli
                        <svg  id="arrow" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </a>
                <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="#">Informacje dla Nauczycieli</a>
                    <a class="dropdown-item" href="#">Załączniki</a>
                    <a class="dropdown-item" href="#">Dziennik Elektroniczny</a>
                </div>
                </li>
                <li class="nav-item px-md-2 dropdown d-menu">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">O Nas
                        <svg  id="arrow" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </a>
                <div class="dropdown-menu shadow-sm sm-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="#">Kontakt</a>
                    <a class="dropdown-item" href="#">Misja Szkół</a>
                    <a class="dropdown-item" href="#">Historia Szkoły</a>
                    <a class="dropdown-item" href="#">BIP</a>
                    <a class="dropdown-item" href="#">Nasi Absolwenci</a>
                    <a class="dropdown-item" href="{% url 'galeria' %}">Galeria</a>
                </div>
                </li>
            </ul>
        </div>
    </div>
</nav>