{% load static %}
            <div class="col-sm-12">
            
                <div class="col-md-12 text-center other-logo">
                    <div>
                        <p class="col-sm-12 m-0">Nasi Partnerzy</p>
                        <img class="border border-dark" src="{% static 'images/part/AGIT.png' %}" alt="">
                        <img class="mt-1 border border-dark" src="{% static 'images/part/Grandhotel.png' %}" alt="">
                        <img class="mt-1 border border-dark" src="{% static 'images/part/PIANO.png' %}" alt="">
                        <img class="mt-1 border border-dark" src="{% static 'images/part/UNIA.png' %}" alt="">
                    </div>
                </div>

                <div class="col-sm-12 text-center other-logo">
                    <div>
                        <p class="col-sm-12 m-0">Uczniowie pracują na kosmetykach</p>
                        <img class="border border-dark" src="{% static 'images/kosm/KERASTASE.png' %}" alt="">
                        <img class="mt-1 border border-dark" src="{% static 'images/kosm/LOREAL.png' %}" alt="">
                        <img class="mt-1 border border-dark" src="{% static 'images/kosm/MATRIX.png' %}" alt="">
                        <img class="mt-1 border border-dark" src="{% static 'images/kosm/PROXIMUS.png' %}" alt="">
                    </div>
                </div>
            </div>