@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
body{
    background-color: #ffffff;
    height:100vh;
    font-size: 20px;
}

/* loading screen */
.loading_screen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    background-color: #272727;
    z-index: 99999;
}
.spinner{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
} /*  koniec loading screen */

.bg-dark2{
    background-color: #26272b;
}






/* news box */
.news-box{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin:0;
    padding:0;
}
.news-site{
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin:0;
    padding:0;
    margin-top:100px;
    margin-bottom:100px;
}
.news-image img{
    width: 100%;
    max-height: 600px;
    border-radius: 5%;
}


.card{
    position: relative;
}

.card:before, .card:after{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.card:after{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.overlay img{
    max-height: 300px;
}

.card-content{
    font-size: 0.8rem;
}
.card-title{
    font-size: 1.2rem;
}
.category-text{
    font-family: 'Roboto', sans-serif;
    color:White;
    font-size: 2rem;
    border-radius: 0 15px 0 15px;
    background-color: #26272b;
    margin-top:5rem;
}

.content{
    position: relative;
    height:auto;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
}
.content-text{
    position: relative;
    margin:0;
    padding: 0;
    height: auto;
    
} /* koniec news box */


/* inne loga */
.other-logo img{
    width: 100%;
} /* koniec inne loga */

/* footer */
.site-footer{
    z-index: 9999;
    position: relative;
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small{
    margin:20px 0
}
.site-footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a{
    color:#737373;
}
.site-footer a:hover{
    color:#3366cc;
    text-decoration:none;
}
.footer-links{
    padding-left:0;
    list-style:none
}
.footer-links li{
    display:block
}
.footer-links a{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li{
    display:inline-block
}
.site-footer .social-icons{
    text-align:right
}
.site-footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text{
    margin:0
}
@media (max-width:991px){
    .site-footer [class^=col-]{
        margin-bottom:30px
    }
}
@media (max-width:767px){
    .site-footer{
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons{
        text-align:center
    }
}
.social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover{
    background-color:#3b5998
}
@media (max-width:767px){
    .social-icons li.title{
        display:block;
        margin-right:0;
        font-weight:600
    }
}/* koniec footer */


/* navbar */
.dropdown-toggle::after {
    display: none;
}
.text-decoration-none{
    text-decoration: none !important;
}
.logo{
    border-radius: 20%;
    height: 2rem;
    width: 4rem;
}
/* koniec navbar */



/* pagination */
.pagination .active a {
    color: #143361;
    background-color: transparent;
    font-weight: 600;
}
.pagination .active a:hover {
    background-color: transparent;
    color: #143361;
    border: 0px;
}
.pagination .active a:focus {
    background-color: transparent;
    color: #143361;
    outline: none;
}
.pagination li a {
    border: 1px;
    margin-left: 0px;
    color: #707070;
    padding: 7px 2px;
    margin: 0px 20px;
}
.pagination li a:hover {
    background-color: transparent;
    color: #4a90e2;
    padding-bottom: 2px;
    border-bottom: 1px solid;
}
.pagination li a:focus {
    outline: none;
    background-color: transparent;
   /*color:#707070;
   */
}
.pagination li:first-child a, .pagination li:last-child a {
    border: 2px solid #143361 !important;
    border-radius: 6px;
    margin: 0px;
    padding: 6px 12px;
    border: 2px solid;
    font-size: 14px;
    color: #143361;
}
.pagination li:first-child a:hover, .pagination li:last-child a:hover {
    text-decoration: none !important;
    color: #fff;
    background-color: #143361;
}
.pagination li:first-child a:focus, .pagination li:last-child a:focus {
    outline: none;
}


/* koniec pagination */
.menu{
    display: none;
}

@media(min-width:1200px){
.menu{
    z-index: 999;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 0;
    height: 100%;
    display: block;
}
.menu .menu-content{
    height: 90%;
    margin: 0;
    padding: 0;
}
.menu-content a{
    height: auto;
}
}