@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font: bold auto sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f5f5f5;
    height:auto;
    font-size: 20px;
    position: relative;
}

.align_center{
    text-align: center;
}

/* loading screen */
.loading_screen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    background-color: #272727;
    z-index: 99999;
}
.spinner{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
} /*  koniec loading screen */

.bg-dark2{
    background-color: #26272b;
}

.main_site{
    display: none;
}
@media(min-width:800px){
    .main_site{
        display: inline;
    }
}



/* news box */
.news-box{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin:0;
    padding:0;
}

.card-text iframe{
    width: 100%;
    height: 350px;
}



.news-site{
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin:0;
    min-height: 100vh;
    padding:0;
    margin-top:100px;
    margin-bottom:100px;
    width: auto;
}
.news-image img{
    position: relative;
    max-width: 100%;
    width:auto;
    left:50%;
    transform: translateX(-50%);
    max-height: 600px;
    border-radius: 5%;
}

.one-news-overview{
    font-size: 1.5rem;
    white-space: pre;
    max-width: 100%;
    display: block;
}
@media(min-height:1450px){
    .one-news-overview{
        font-size: 1rem;
        white-space: pre;
        max-width: 100%;
        display: block;
    }
    
}

.news_card{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.card{
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.overlay img{
    position: relative;
    max-height: 500px;
    max-width: 100%;
    width: 100%;
    
}

.card-content{
    font-size: 0.8rem;
}
.card-title{
    font-size: 1.2rem;
}
.category-text{
    font-family: 'Roboto', sans-serif;
    color:White;
    font-size: 2rem;
    border-radius: 0 15px 0 15px;
    background-color: #26272b;
    margin-top:5rem;
}

@media(min-width:1000px){
    .category-text{
        font-family: 'Roboto', sans-serif;
        color:White;
        font-size: 2rem;
        border-radius: 0 15px 0 15px;
        background-color: #26272b;
        margin-top:5rem;
    }
}


.content{
    position: relative;
    min-height:100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
}
.content-text{
    position: relative;
    margin:0;
    padding: 0;
    min-height: 100vh;
    
} /* koniec news box */


/* inne loga */
.other-logo img{
    width: 100%;
} /* koniec inne loga */

/* footer */
.site-footer{
    z-index: 9999;
    position: relative;
    bottom:0;
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small{
    margin:20px 0
}
.site-footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a{
    color:#737373;
}
.site-footer a:hover{
    color:#3366cc;
    text-decoration:none;
}
.footer-links{
    padding-left:0;
    list-style:none
}
.footer-links li{
    display:block
}
.footer-links a{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li{
    display:inline-block
}
.site-footer .social-icons{
    text-align:right
}
.site-footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text{
    margin:0
}
@media (max-width:991px){
    .site-footer [class^=col-]{
        margin-bottom:30px
    }
}
@media (max-width:767px){
    .site-footer{
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons{
        text-align:center
    }
}
.social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover{
    background-color:#3b5998
}
@media (max-width:767px){
    .social-icons li.title{
        display:block;
        margin-right:0;
        font-weight:600
    }
}/* koniec footer */


/* navbar */
.dropdown-toggle::after {
    display: none;
}
.text-decoration-none{
    text-decoration: none !important;
}
.logo{
    border-radius: 20%;
    height: 2rem;
    width: 4rem;
}
/* koniec navbar */



/* pagination */
.pagination .active a {
    color: #143361;
    background-color: transparent;
    font-weight: 600;
}
.pagination .active a:hover {
    background-color: transparent;
    color: #143361;
    border: 0px;
}
.pagination .active a:focus {
    background-color: transparent;
    color: #143361;
    outline: none;
}
.pagination li a {
    border: 1px;
    margin-left: 0px;
    color: #707070;
    padding: 7px 2px;
    margin: 0px 20px;
}
.pagination li a:hover {
    background-color: transparent;
    color: #4a90e2;
    padding-bottom: 2px;
    border-bottom: 1px solid;
}
.pagination li a:focus {
    outline: none;
    background-color: transparent;
    /*color:#707070;
    */
}
.pagination li:first-child a, .pagination li:last-child a {
    border: 2px solid #143361 !important;
    border-radius: 6px;
    margin: 0px;
    padding: 6px 12px;
    border: 2px solid;
    font-size: 14px;
    color: #143361;
}
.pagination li:first-child a:hover, .pagination li:last-child a:hover {
    text-decoration: none !important;
    color: #fff;
    background-color: #143361;
}
.pagination li:first-child a:focus, .pagination li:last-child a:focus {
    outline: none;
}

.pagination_first{
    border: 2px solid #143361 !important;
    border-radius: 6px;
    padding: 5px 11px;
    border: 2px solid;
    font-size: 14px;
    color: #143361;
}

.pagination_first:focus{
    outline: none;
}

.pagination_first:hover{
    text-decoration: none !important;
    color: #fff;
    background-color: #143361;
}

/* koniec pagination */
.menu{
    display: none;
}

@media(min-width:1200px){
    .menu{
        z-index: 999;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        right: 0;
        height: 100%;
        display: block;
        padding: 0;
    }
    .menu .menu-content{
        height: auto;
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
    }
    .menu-content a{
        height: auto;
        
    }
    
    .menu-button{
        text-align: center;
        height: 70px;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        padding: 15px 30px;
        border-radius: 3px;
        font: bold 1.5rem sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        color: black;
        transition: .25s;
    }
    
    
    .menu-button .menu-button-content{
        height: 100%;
        width: 100%;
        position: relative;
        text-decoration: none;
        overflow: hidden;
    }
    
    .menu-button-content .span-div, .span-div2{
        position: relative;
        width: 30%;
        float: left;
        top:50%;
        transform: translateY(-50%);
    }
    
    .menu-button-content .span-div2{
        font-size: 0.6rem;
        padding: 5px;
        width: 70%;
    }
    
    .menu-button:before {
        content: '';
        position: absolute;
        top: 0;
        right: 110%;
        height: 100%;
        width: 200%;
        background: #26272b;
        transform: skewX(-15deg);
        transition: inherit;
    }
    .menu-button .menu-button-content:hover {
        color: white;
    }
    .menu-button:hover:before {
        right: -10%;
    }
    
}

@media(min-width:1500px){
    .menu-button{
        font-size: 2rem;
    }
    .menu-button-content .span-div2{
        font-size: 0.9rem;
    }
}


code img{
    max-width: 100%;
}

.post-overwiew{
    font-size: 1.3rem;
}

.one-news-title{
    width: 100%;
    font-size: 1.5rem;
}

@media(min-width:1350px){
    .post-overwiew{
        font-size: 1.1rem;
    }
    .one-news-title{
        width: 100%;
        font-size: 1.1rem;
    }
}

@media(min-width:900px){
    .post-overwiew{
        font-size: 1.3rem;
    }
    .one-news-title{
        width: 100%;
        font-size: 1.5rem;
    }
}

.main-news-image img{
    width: 100%;
}





.content-news{
    position: relative;
    max-width: 100%;
    display: inline-table;
    left:50%;
    transform: translateX(-50%);
}
.news-image{
    height: 30%;
    background-color: #d6d2c8;
    border-radius: 10px;
}
.news-image-content{
    height: 30%;
}
.news-image-content-big{
    height: auto;
}

#mceu_30{
    position: relative;
    width: auto;
    max-width: 100%;
}


/* form */

.login-view{
    padding-top:100px;
}


.global-container{
    height:150%;
    display: flex;
    margin-top:20px;
    align-items: center;
    justify-content: center;
}

.global-container .login-form{
    position: relative;
    margin-top:75px;
}

.card-text form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.card-title{ 
    font-weight:300; 
}

form .btn{
    font-size: 14px;
    margin-top:20px;
}


.login-form{ 
    width:330px;
    margin:20px;
}

.sign-up{
    text-align:center;
    padding:20px 0 0;
}

.alert{
    margin-bottom:-30px;
    font-size: 13px;
    margin-top:20px;
}

/* koniec form */

/* user panel */
.panel-view{
    min-height: 100vh;
    background-color: #26272b;
    
}

.panel-view-title{
    background-color: #26272b;
    color:white;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    margin-bottom: 0;
}
.panel-view-title h2{
    margin:0;
}

.panel-view-content{
    margin-top: 0;
    color:black;
    box-shadow: -1px 3px 30px 0px rgba(0,0,0,0.75);
    left: 50%;
    transform: translateX(-50%);
}

/* create form w panelu */
.create-form{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}



#id_thumbnail::-webkit-file-upload-button {
    visibility: hidden;
}
#id_thumbnail::before {
    content: 'Wybierz zdjecie';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 0.9rem;
    margin:0;
}
#id_thumbnail:hover::before {
    border-color: black;
}
#id_thumbnail:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.panel-tab{
    font-size:0.5rem;
}

@media(min-width:800px){
    .panel-tab{
        font-size: 1rem;
    }
}

.get_name{
    overflow: hidden;
}

/* koniec user panel */



/* button w panel  */

.news-buttons{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    
}

.panel-button {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;
    box-shadow: inset 0 0 0 2px #858585;
    background: linear-gradient(-45deg, #272727, #26272b);
    color: white;
    font-size: inherit;
    font-weight: 700;
    position: relative;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}
.panel-button::before, .panel-button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.panel-button:hover{
    background: linear-gradient(-45deg, #ece1de, #ebdfc6);
    transition: color 0.25s;
}

.draw {
    transition: color 0.25s;
}
.draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    color: #b80808;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #b80808;
    border-right-color: #b80808;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #b80808;
    border-left-color: #b80808;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s
}

/* koniec button w panel  */

/* galleria */
.gallery-card{
    position: relative;
}

.gallery-content{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-card-content{
    position: relative;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


.gallery-card-image{
    position: relative;
    height: 100%;
    width: 100%;
}

.gallery-card-title{
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
    color:Black;
    background-color: rgba(255, 255, 255, 0.75);
}

.gallery-card-overview{
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
    color:Black;
    background-color: rgba(255, 255, 255, 0.75);
}

.gallery-card-date{
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
    color:black;
    background-color: rgba(255, 255, 255, 0.75);
}

.gallery-card-image::after{
    position: absolute;
    left:0;
    content: "";
    width: 100%;
    height: 100%;
}
.gallery-card-image img{
    position: relative;
    max-width: 100%;
    max-height: 550px;
    left:50%;
    transform: translateX(-50%);
}
.gallery-card-image{
    background-color: #d6d2c8;
}

/* gallery one */
.gallery_title h4{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.image_box img{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    margin-top: 5px;
    -webkit-box-shadow: 0 13px 7px -5px #555;
    -moz-box-shadow: 0 13px 7px -5px #555;
    box-shadow: 0 13px 7px -5px #555;
    cursor: pointer;
}


.box_big{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    display: none;
}

.box_image{
    position: relative;
    height: 75vh;

}

.box_image img{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    max-width: 80vw;
    max-height: 85%;
    width: auto;
    height: auto;
}

.box_menu{
    position: relative;
    height: 7vh;

}

.box_menu_content{
    position: relative;
    height: auto;
    width: 60%;
    text-align: center;
}

.box_arrow{
    position: relative;
    text-align: center;
    height: auto;
    width: 20%;
    cursor: pointer;
}

.box_exit{
    position: relative;
    bottom:0;
    width: 100%;
    cursor: pointer;
}


.noselect{
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

}


/* koneic galeria */


/* complete  */

.loader-item p {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    color: #1d221e;
    font-size: 12px;
    font-weight: 600;
}
.message {
    font-size: 14px;
    color: #228722;
    text-align: center;
    margin: 30px auto;
    width: 60%;
}
.loader-item p.active {
    font-weight: 600;
}
.loader-item p.inactive {
    opacity: 0.5;
}
.loader-item p.complete {
    font-weight: 600;
    font-size: 2rem;
}
.loader-item {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    vertical-align: middle;
}
.load-bullet {
    width: 10px;
    height: 10px;
    background-color: #228722;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 3px;
    position: relative;
    top: 15px;
}
.loader-item.inactive .load-bullet {
    background-color: #f6f6f6;
}
.loader-item.complete .load-bullet {
    background-color: #f6f6f6;
    animation-name: loader-bullet-complete;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.loader-item.complete .load-bullet:nth-child(1) {
    animation-delay: 0.25s;
}
.loader-item.complete .load-bullet:nth-child(2) {
    animation-delay: 0.75s;
}
.loader-item.complete .load-bullet:nth-child(3) {
    animation-delay: 1.25s;
}
.loader-item.complete .load-bullet:nth-child(4) {
    animation-delay: 1.75s;
}
.loader-item .icon {
    font-size: 28px;
    position: absolute;
    top: 26px;
    left: 26px;
}
.loader-item.active .icon {
    color: rgba(34, 135, 34, 1);
}
/* Loader Icon Fade */
.loader-item.complete .icon {
    color: #fff;
    animation-name: loader-fill-icon;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
}
.loader-item.inactive .icon {
    color: #1d221e;
    opacity: 0.5;
}
.outer-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgba(34, 135, 34, 0.2);
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

.outer-circle .fa-check{
    position: absolute;
    font-size: 4rem;
    padding: 0;
    margin: 0;
    left:28%;
    top:50%;
    transform: translateX(-150%);
    transform: translateY(-50%);
}

.loader-item.inactive .outer-circle {
    background-color: #f6f6f6;
}
.inner-circle {
    position: absolute;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    top: 16px;
    left: 16px;
}
.loader-item.active .inner-circle {
    background-color: transparent;
}
.loader-item.inactive .inner-circle {
    background-color: transparent;
}
.loader-item.complete .inner-circle {
    background-color: rgba(34, 135, 34, 1);
    -webkit-animation-name: loader-fill;
    -webkit-animation-duration: 0.75s;
    -webkit-iteration-count: 1;
    animation-name: loader-fill;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
}
/* Loader Rotation Animation */
.ring {
    display: block;
    width: 120px;
    height: 120px;
    border: 3px solid #fff;
    border-top: 3px solid #228722;
    border-radius: 50%;
    animation: ring 1.2s ease-in-out infinite;
    position: relative;
    top: -2px;
    left: -2px;
}
/* Animations */
@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loader-fill {
    0% {
        background-color: transparent;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        background-color: #228722;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@keyframes loader-fill-icon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loader-bullet-complete {
    0% {
        background-color: #f6f6f6;
    }
    100% {
        background-color: #228722;
    }
}

/* koniec complete  */

.web-content{
    font-size:0.8rem;
}

@media(min-width:1200px){
    .web-content{
        font-size:1.2rem;
    }
}

/* kontakt  */

.kontakt_cat{
    position: relative;
    border-bottom: #1d221e solid 2px;
}



/* koniec kotnakt */

/* abso */




.abso-image img{
    position: relative;
    width: 100%;
    z-index: 1;
    border: 2px solid black;
}

.abso-image h4{
    position: relative;
    width: 100%;
    height: 85%;
    z-index: 1;
    border: 2px solid black;
}

.abso-text{
    position: relative;
    bottom: 10%;
    left: 0;
    height: 10%;
    width: 100%;
    background-color:rgba(0,0,0,0.75);
    z-index: 2;
    text-align: center;
}



.abso-new-text{
    position: relative;
    bottom: 20%;
    left: 0;
    height: 20%;
    width: 100%;
    background-color:rgba(0,0,0,0.75);
    z-index: 2;
    text-align: center;
}

/* koniec abso */


/* esport */

.gamepad{
    text-align: center;
    position: relative;
    width: 100%;
    height: 30%;
    color: #26272b;
    font-size:auto;
    line-height: 0;
}

.gamepad-fa{
    filter: drop-shadow(0px 4px 5px #0a0a0a);
}

.esport-image img{
    position: relative;
    width: 100%;
}

/* koniec esport */

/* panel messages  */

.center_text p{
    margin:10px;
}

@media(min-width: 576px){

    .center_text div{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
    
    }
    .center_text p{
        position: absolute;
        margin:0;
        top:50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
    
    }
}

/* koniec panel messages */