{% extends 'extends/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid content">
{% include 'includes/navbar.html' %}
<div class="panel-view row m-0 p-0 d-flex justify-content-center text-white">
<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 mt-5 pt-5">

<h1 class="text-secondary"> Nie znaleziono Strony <i class="fas fa-bug"></i></h1>
<h2 class="text-danger"> HTTP 404</h2>

</div>
</div>
{% include 'includes/footer.html' %}
</div>
{% endblock content %}