{% extends 'extends/base.html' %}
{% block content %}
{% load static %}
{% include "includes/loading.html" %}
<div class="container-fluid content">
{% include "includes/navbar.html" %}
<div class="gallery-content d-flex justify-content-center">
<div class=" col-xl-10 col-md-10 col-sm-12 col-xs-12 mt-5 pt-5 html_form">
<div class="col-sm-12 ml-0 pl-0 mb-3">
<a href="{% url 'panel' %}" class="btn btn-dark ml-0" >Wróc do Panelu</a>
</div>


<div class="col-sm-12 show_succ"></div>


<div class="col-sm-12 get_hidden_on_succ" >
<h3 class="text-secondary"> Dodaj zdjęcia pojedyńczo</h3>
<form method="POST" action="{% url 'add_image' %}" class="form_count">
{% csrf_token %} 
<label for="images_count"> Ile chcesz wgrać zdjęć </label>
<input id="images_count" name="images_count" class="m-0 form-control"  type="number" min="1" max="100" required />
<input type="submit" class="btn btn-group-sm btn-primary m-1" id="do_form" value="Wykonaj" />
</form>
<br />

<h3 class="text-secondary">Dodaj wiele zdjęć o tej samej nazwie</h3>
<form method="POST" action="{% url 'add_mult_image' %}" class="form_mult">
{% csrf_token %} 
<label for="images_name">Podaj nazwę dla wszystkich plików</label><br />
<input id="images_name" name="images_name" type="text" class="form-control" />
<label for="images_mult">Wybierz pdjęcia</label>
<input id="images_mult" name="images_mult" class="m-0 images_mult form-control-file" type="file" accept="image/x-png,image/gif,image/jpeg" required multiple />

<input type="submit" class="btn btn-group-sm btn-primary m-1" value="Wykonaj" />
</form>


</div>
</div>
</div>
{% include "includes/footer.html" %}
</div>

{% endblock content %}
{% block jquery %}

<script>

$(document).ready(function(){




        var clickedBtnID 
        $(document).on("click",".clikced", function () {
            clickedBtnID = $(this).attr('id'); 

                if($('.image'+clickedBtnID+'_name').val() == '' || $('.image'+clickedBtnID).val() == ''){
                }else{
                $(".form"+clickedBtnID).submit(function(e) {
                    e.preventDefault();
                    var formData  = new FormData(this);
                    $.ajax({
                        data: formData,
                        type: $(this).attr('method'),
                        url: $(this).attr('action'),
                        success: function(data){
                            $('.form'+data.clicked).fadeOut(function(){
                                this.remove();
                                if($( ".md-form" ).length == 0){
                                    $('.show_succ').append(`
                                    <div class="loader-item complete col-sm-12 row">
                                        <p class="complete">Dodano Wszystkie</p>
                                        <div class="outer-circle">
                                        <div class="inner-circle"></div>
                                        <i class="icon fas fa-check"></i>
                                        </div>
                                    </div>
                                    `);
                                };
                            });
                        }, 
                        error: function(data){
                            
                        },
                        cache: false,
                        contentType: false,
                        processData: false,
                    });
                    return false;
                });
                }
            });

        $('#do_form').click(function(){
            var images_count = parseInt($('#images_count').val());
            var form_html = $('.html_form');
            if($('#images_count').val() >= 1 && $('#images_count').val() <= 100 && $('#images_count').val() != ''){
                form_html.css('opacity',0);
                for(var i = 1; i <= images_count; i++){
                    $(form_html).append(`
                    <form class="md-form m-3 form${i.toString()}" method="POST" action="./ajax">
                    {% csrf_token %}
                    <div class="file-field border border-dark row m-0">
                    <input name="image${i.toString()}_name" class="image${i.toString()}_name m-0 form-control" type="text" placeholder="Nazwa Zdjęcia" required />
                    <div class="btn btn-primary btn-sm float-left col-sm-6 m-0">
                    <span>Zdjęcie: </span>
                    <input name="image${i.toString()}" class="m-0 image${i.toString()}" type="file" accept="image/x-png,image/gif,image/jpeg" required>
                    </div>
                    <div class="col-sm-6 m-0 p-0">
                    <input type="submit" class="btn btn-dark form-control m-0 clikced" id="${i}" name="button${i}" style="height:100%" value="Prześlij" /> 
                    </div>
                    </div>
                    <input name="current_clicked" class="current_clicked" value="${i}" hidden />
                    </form>
                    `
                    );
                $(form_html).animate({
                    opacity: 1,
                });
                };
                $('.get_hidden_on_succ').css('display', 'none');
            }
        });

    $('.form_count').submit(function(e) {
        e.preventDefault();
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: $(this).attr('action')
        });
        return false;
    });







    $(".form_mult").submit(function(e) {
        e.preventDefault();
        var formData2  = new FormData(this);
        $.ajax({
            data: formData2,
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            success: function(data){
                $('.get_hidden_on_succ').fadeOut(function(){
                    this.remove();
                        $('.show_succ').append(`
                        <div class="loader-item complete col-sm-12 row">
                            <p class="complete">Dodano Wszystkie</p>
                            <div class="outer-circle">
                            <div class="inner-circle"></div>
                            <i class="icon fas fa-check"></i>
                            </div>
                        </div>
                        `);
                });
            }, 
            error: function(data){
                
            },
            cache: false,
            contentType: false,
            processData: false,
        });
        return false;
    });






});

</script>


{% endblock jquery %}