{% extends 'extends/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% include 'includes/loading.html' %}
<div class="container-fluid content">
{% include "includes/navbar.html" %}
<div class="content-text d-flex justify-content-center">

    {% if user.is_authenticated %}
    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 col-xs-12 pt-5 pb-5 mt-5" >
        <a href="{% url 'panel' %}" class="btn btn-primary mb-3"> Wróć do Panelu </a>
        <h4> {{ title }} </h4>
        <h5 class="text-secondary"> Pola z * są wymagane, a bez opcjonalne </h5>
        {{ form.media }}
        <form method="POST" action="." enctype="multipart/form-data" class="form">
                {% csrf_token %}
                {{ form|crispy }}
            <button type="submit" class="btn btn-dark btn-block">Zapisz</button>
        </form>
    </div>
    {% else %}
    <div class="m-5" style="position:relative; height:100vh;">
        <h1>Nie posiadasz dostępu do tworzenia nowych postów</h1>
    </div>
    {% endif %}

</div>
    {% include "includes/footer.html" %}
</div>
{% endblock content %}

{% block jquery %}
<script>

$(document).ready(function(){
    var href = location.href;
    var last = href.match(/([^\/]*)\/*$/)[1];
    if(last != 'update'){
        $('#id_has_thumbnail').click(function(){
            value = $('#id_has_thumbnail').is(':checked');
            if( value == true){
                $("#id_thumbnail").prop('required',true);
            }else{
                $("#id_thumbnail").prop('required',false);
            };
        });

        value = $('#id_has_thumbnail').is(':checked');
        if( value == true){
            $("#id_thumbnail").prop('required',true);
        }else{
            $("#id_thumbnail").prop('required',false);
        };
    };
        $("#id_title").keyup(function(e){
        var val = $(this).val();
        val = val.replace(/[^\w]+/g, "");
        $("#id_web_name").val(val);
        });

});


</script>
{% endblock jquery %}