{% extends 'extends/base.html' %}
{% block content %}
{% load static %}
{% include 'includes/loading.html' %}
<div class="container-fluid content">
{% include "includes/navbar.html" %}
    <div class="content-text">
        <div class="col-xl-9 col-lg-10 col-md-10 col-sm-12 col-xs-12 news-site">

            {% if post.has_thumbnail %}
                <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 p-3 news-image float-left">
                    <img class="card-img-top rounded-0" src="{{ post.thumbnail.url }}" alt="Card image cap">
                </div>
                {% if user.is_authenticated %}
                {% if main_post is True %}
                    {% if user1.rank.create_user or main_post.author == request.user %}
                    <div class="col-xl-4 col-lg-4 col-md-10 col-sm-11 float-left" style="text-decotarion:none; color:white">
                        <a href="{% url 'main-post-update' slug=post.web_name %}" class="col-xs-4 btn btn-success">
                            Edytuj
                        </a>
                        <a href="{% url 'post-freez' slug=post.web_name %}" class="col-xs-4 btn btn-danger">
                            Wstrzymaj
                        </a>
                        <a href="{% url 'panel' %}" class="col-xs-4 btn btn-secondary">
                            Panel
                        </a>
                    </div>
                {% endif %}
                
                {% elif main_post is False %}
                    {% if user1.rank.create_user or post.author == request.user %}
                    <div class="col-xl-4 col-lg-4 col-md-10 col-sm-11 float-left" style="text-decotarion:none; color:white">
                        <a href="{% url 'post-update' slug=post.web_name %}" class="col-xs-4 btn btn-success">
                            Edytuj
                        </a>
                        <a href="{% url 'post-delete' slug=post.web_name %}" class="col-xs-4 btn btn-danger">
                            Usuń
                        </a>
                        <a href="{% url 'panel' %}" class="col-xs-4 btn btn-secondary">
                            Panel
                        </a>
                    </div>
                    {% endif %}
                {% endif %}
                {% endif %}
                <h3 class="one-news-title col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 float-left"> {{ post.title }}
                {% for cat in post.category.all %}
                    <span class="badge badge-primary" style="background-color:{{ post.author.cat_color|safe }}; color:{{ post.author.cat_text_color|safe }};">{{ cat.title }}</span>
                {% endfor %}
                </h3>

                    {% if post.has_gallery %}
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 float-left">
                        <a class="btn btn-dark form-control" href="{% url 'galeria_one' slug=post.gallery.gallery_name %}"> Galeria </a>
                    </div>
                    {% endif %}

                    {% if post.author.username %}
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 float-left"><p>Autor: <span class="text-danger">{{ post.author.username }}</span> | {{ post.timestamp }}  </p></div>
                    {% else %}
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 float-left"><p>Autor: <span class="text-danger">{{ post.author.user.username }}</span> | {{ post.timestamp }}  </p></div>
                    {% endif %}

                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left pb-2 post-overwiew">
                    {{ post.overview|capfirst|safe }}
                </div>

                {% if post.content %}
                    <div class="col-xl-12 col-lg-10 col-md-12 col-sm-12 col-xs-12 content-news ">{{ post.content|safe }}</div>
                {% endif %}

            {% else %}
                {% if user.is_authenticated %}

                {% if main_post is True %}
                {% if user1.rank.create_user or main_post.author == request.user %}
                <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12 col-xs-12" style="text-decotarion:none; color:white">
                    <a href="{% url 'main-post-update' slug=post.web_name %}" class="col-xs-4 btn btn-success">
                        Edytuj
                    </a>
                    <a href="{% url 'post-freez' slug=post.web_name %}" class="col-xs-4 btn btn-danger">
                        Wstrzymaj
                    </a>
                    <a href="{% url 'panel' %}" class="col-xs-4 btn btn-secondary">
                        Panel
                    </a>
                </div>
                {% endif %}
                {% elif main_post is False %}
                {% if user1.rank.create_user or post.author == request.user %}
                <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12 col-xs-12" style="text-decotarion:none; color:white">
                    <a href="{% url 'post-update' slug=post.web_name %}" class="col-xs-4 btn btn-success ml-1">
                        Edytuj
                    </a>
                    <a href="{% url 'post-delete' slug=post.web_name %}" class="col-xs-4 btn btn-danger ml-1">
                        Usuń
                    </a>
                    <a href="{% url 'panel' %}" class="col-xs-4 btn btn-secondary ml-1">
                        Panel
                    </a>
                </div>
                {% endif %}
                {% endif %}
                {% endif %}
                <div class="col-sm-12 mt-2">
                    <h3 class="one-news-title"> {{ post.title }}
                        {% for cat in post.category.all %}
                            <span class="badge badge-primary" style="background-color:{{ post.author.cat_color|safe }}; color:{{ post.author.cat_text_color|safe }};">{{ cat.title }}</span>
                        {% endfor %}
                    </h3>
                </div>
                    {% if post.author.username %}
                        <div class="col-sm-12"><p>Autor: <span class="text-danger">{{ post.author.username }}</span> | {{ post.timestamp }}  </p></div>
                            {% else %}
                        <div class="col-sm-12"><p>Autor: <span class="text-danger">{{ post.author.user.username }}</span> | {{ post.timestamp }}  </p></div>
                    {% endif %}

                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 pb-2">
                    {{ post.overview|capfirst|safe }}
                </div>
                {% if post.content %}
                    <div class="col-xl-12 col-lg-10 col-md-12 col-sm-12 col-xs-12 content-news">{{ post.content|safe }}</div>
                {% endif %}
                </div>

            {% endif %}

        </div> 
    </div>
{% include "includes/footer.html" %}
</div>
{% endblock content %}