{% extends 'extends/base.html' %}
{% block content %}
<div class="container-fluid content gallery_images">
{% include 'includes/navbar.html' %}
{% load static %}

<div class="col-sm-12 bg-dark2 box_big text-white">
<div class="col-sm-12 mt-5 mb-5 h-100 noselect" > 

<div class="col-sm-12 box_menu row m-0 mb-2">

<div class="box_arrow back_arrow"><i class="fas fa-2x fa-chevron-circle-left"></i></div>

<div class="box_menu_content">( <span class="images_count_box">X</span> / <span class="max_images">{{ images_count }}</span> )</div>

<div class="box_arrow next_arrow"><i class="fas fa-2x fa-chevron-circle-right"></i></div>

</div>

<div class="col-sm-12 box_image">


<img class="box_image_big" src="" alt="image_big" />

<div class="box_exit d-flex justify-content-center mt-3">
<i class="fas fa-2x fa-times-circle"></i>
</div>
</div>

</div>
</div>

<div class="col-sm-12 row mt-5 noselect bg-dark2 p-0 pt-3 ml-0 mr-0">
    <div class="col-sm-12 m-0 p-0 row">
        <div class="col-sm-3 mt-3 mb-3">
            <a href="{% url 'gallery' %}" class="btn btn-primary form-control text-white"> Wróć do Galerii </a>
        </div>
        <div class="col-sm-9 mt-3 mb-3 gallery_title">
            <h4 class="text-white m-0 p-0"> Galeria: <span class="text-secondary">{{ gallery.gallery_name }}</span> (<span class="images_count">{{ images_count }}</span>)</h4>
        </div>
    </div>
</div>

<div class="col-12 d-flex justify-content-center">
<div class="col-xl-10 col-lg-10 col-md-11 col-sm-12 col-xs-12 row">

{% for image in gallery.pictures.all %}
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-3 mb-3 image_box">
    <img class="card-img-top" id="id{{ forloop.counter0 }}" src="{{ image.picture.url }}" alt="{{ image.picture_title }}">
</div>
{% endfor %}





</div>
</div>



</div>
{% include 'includes/footer.html' %}
</div>
{% endblock content %}

{% block jquery %}
<script>
$(document).ready(function(){

var max_images = $('.max_images').text();
var src ="";
var id = 0;


$('.card-img-top').click(function(){
    src = $(this).attr('src');
    id = $(this).attr('id');
    id = parseInt(id.substring(2,5));
    

    $('.box_image_big').attr('src', src);
    $('.box_big').fadeIn();
    $('.images_count_box').text(id+1);


});



$('.back_arrow').click(function(){
    src = $('#id'+(id-1).toString()).attr('src');
    $('.box_image_big').attr('src', src);
    id = id-1;
    if(id <=0){
        id = 0;
    }
    $('.images_count_box').text(id+1);

});

$('.next_arrow').click(function(){
    src = $('#id'+(id+1).toString()).attr('src');
    $('.box_image_big').attr('src', src);
    id = id+1;
    if(id >= parseInt(max_images)-1){
        id = parseInt(max_images)-1;
    }
    $('.images_count_box').text(id+1);
});



$('.box_exit').click(function(){
    $('.box_big').fadeOut();
});




{% comment %} document.oncontextmenu = new Function("return false;"); {% endcomment %}


});



</script>
{% endblock jquery %}