{% extends 'extends/base.html' %}
{% block content %}
<div class="container-fluid content">
{% include 'includes/navbar.html' %}
<div class="panel-view">

<div class="panel-view-content col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-11 p-3 pt-3">
<div class="row col-sm-12 mt-5">
<a class="btn btn-secondary float-left" href='{% url 'panel' %}'> Wróć do Opcji </a>
</div>


<div class="col-sm-12">
<h4 class="mt-5 text-white">Aktualne Nowości</h4>
</div>
<a class="btn btn-primary mb-2 float-right" href='{% url 'post-create' %}'> Stwórz nowy Post </a>
<h6 class="text-secondary">* Uwaga, aktualizowanie zmieni także jego autora autora oraz date opublikowania  </h6>

<nav>
  <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active text-decoration-none" id="nav-news-tab" data-toggle="tab" href="#nav-news" role="tab" aria-controls="nav-home" aria-selected="true">Nowości</a>
    <a class="nav-item nav-link text-decoration-none" id="nav-mainnews-tab" data-toggle="tab" href="#nav-mainnews" role="tab" aria-controls="nav-mainnews" aria-selected="false">Główna Nowość</a>
  </div>
</nav>
<div class="tab-content panel-tab" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-news" role="tabpanel" aria-labelledby="nav-news-tab">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Autor</th>
                <th scope="col">Data</th>
                <th scope="col">Zarządzanie</th>
            </tr>
            </thead>
            <tbody>
                <tr>{% for post in news %}
                    <td>{{ post.title }}</td>
                    {% if post.author.username %}
                    <td><span class="text-warning">{{ post.author.username }}</span></td>
                    {% else %}
                    <td><span class="text-warning">{{ post.author.user.username }}</span></td>
                    {% endif %}
                    <td>{{ post.timestamp }}</td>
                    <td>
                        {% if post.web_name %}
                        <a class="btn btn-success btn-block" href="{% url 'post-update' slug=post.web_name %}">Zaktualizuj</a>
                        <a class="btn btn-danger btn-block" href="{% url 'post-delete' slug=post.web_name %}">Usuń</a>
                        {% endif %}
                    </td>
                </tr>{% endfor %}
            </tbody>
        </table>
  </div>
  <div class="tab-pane fade " id="nav-mainnews" role="tabpanel" aria-labelledby="nav-mainnews-tab">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Autor</th>
                <th scope="col">Data</th>
                <th scope="col">Zarządzanie</th>
            </tr>
            </thead>
            <tbody>
                <tr>{% for post in mainnews %}
                    <td>{{ post.title }}</td>
                    {% if post.author.username %}
                    <td><span class="text-warning">{{ post.author.username }}</span></td>
                    {% else %}
                    <td><span class="text-warning">{{ post.author.user.username }}</span></td>
                    {% endif %}
                    <td>{{ post.timestamp }}</td>
                    <td>
                        {% if post.web_name %}
                        <a class="btn btn-success btn-block" href="{% url 'main-post-update' slug=post.web_name %}">Zaktualizuj</a>
                        <a class="btn btn-danger btn-block" href="{% url 'post-freez' slug=post.web_name %}">Wstrzymaj</a>
                        {% endif %}
                    </td>
                </tr>{% endfor %}
            </tbody>
        </table>
  </div>
</div>
</div>
</div>
</div>
{% include 'includes/footer.html' %}
</div>
{% endblock content %}
